.crud-logo {
  max-height: 45px;
}

.productCard {
  margin-bottom: 1rem;
}

.addProductForm,
.searchProductForm {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 1rem;
}

.addProduct,
.searchProduct {
  margin-bottom: 1rem;
}

.modifyProduct,
.deleteProduct {
  margin-bottom: 0.5rem;
}
