<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h3>Our products</h3>
        </div>
    </div>
    <div class="row-cols-6 text-right">
        <select class="browser-default custom-select orderBy">
            <option disabled>Order by..</option>
            <option value="name">Product name</option>
            <option value="description">Product description</option>
            <option value="price">Product price</option>
        </select>
        <select class="browser-default custom-select orderAs">
            <option disabled>Order by..</option>
            <option value="desc">Descending order</option>
            <option value="asc">Ascending order</option>
        </select>
        <input type='button' value='Order' class='btn btn-primary orderButton' name="orderButton" />
    </div>
    <br>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-3 productlist">
        {{#each products}}
        <div class="card text-center productCard">
            <div class=" card-body ">
                <h5 class="card-title">Product:</h5>
                <h4 class="card-title font-weight-bold">{{ name }}</h4>
                <h6 class="card-subtitle mb-2 text-muted">${{ price }} MXN</h6>
                <p class="card-text">{{ description }}</p>
            </div>
            <div class="card-footer text-muted">
                <input id='{{id}}' type='button' value='Remove item' class='btn btn-danger deleteProduct'
                    name="deleteProduct" />
            </div>
        </div>
        {{/each}}
    </div>
    <br>
    <div class="row">
        <div class="col-12 text-center">
            <h3>Add your own product</h3>
        </div>
        <div class="col-12 text-center">
            <div class="card text-center addProductForm">
                <form method="POST" action="/create" class="submitProduct">
                    <div class="form-group text-left">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="form-group text-left">
                        <label for="price">Price</label>
                        <input type="number" step="0.01" class="form-control" id="price" name="price" required>
                    </div>
                    <div class="form-group text-left">
                        <label for="description">Description</label>
                        <textarea rows="2" class="form-control" id="description" name="description" required></textarea>
                    </div>
                    <input type="submit" class="btn btn-primary addProduct" value="Add product" name="addProduct" />

                </form>
            </div>
        </div>
    </div>

</div>